<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127112059926-pk7224o6rr52ooenl2mju8ec3nmjro8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127112059926-pk7224o6rr52ooenl2mju8ec3nmjro8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDuZThur-q2N5FoCiaKxT75L4l91pvZXws</string>
	<key>GCM_SENDER_ID</key>
	<string>127112059926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.marvelaman.reserved</string>
	<key>PROJECT_ID</key>
	<string>reserved-8b23d</string>
	<key>STORAGE_BUCKET</key>
	<string>reserved-8b23d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127112059926:ios:3753056a0911acf588a937</string>
</dict>
</plist>